{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 80,
  "trailingComma": "all",
  "proseWrap": "always",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "decorators"],
  "importOrder": ["^[^.]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
